###########
# Variables
###########

TIME_COMMANDS=true # set to 'false' to disable prefxing commands with time

GIT_LOG_ONE_LINE="git log --oneline"
GIT_LOG_ONE_LINE_SHORT="$GIT_LOG_ONE_LINE -30"

# syncs branches with remote
GIT_FETCH_ALL_AND_PRUNE="git fetch --all -p"

NPM_RUN_TEST="npm run jest -- --watch --runInBand"

alias ls='ls -GFh' # -h Human readable, -G colour output, -F symbols for file types
alias du:s="du -sh */ | sort -h" # get file sizes, aggregated to top-level folders, sorted in desc order

alias log="prefix $GIT_LOG_ONE_LINE_SHORT"
alias loga="prefix $GIT_LOG_ONE_LINE"
alias f="echo 'Syncing git repo with remote...' && prefix $GIT_FETCH_ALL_AND_PRUNE"
alias fetch="echo 'Syncing git repo with remote...' && prefix $GIT_FETCH_ALL_AND_PRUNE"

###########
# Functions
###########
 
# announce full commands and prefix them with time,
# to indicate how long they take to run
function prefix() {
  echo "executing: $*";
  if [ "$TIME_COMMANDS" != true  ] ; then
      $*;
  else
      time $*;
  fi
}

# announce the full command, including arguments
function prefix_only() {
  echo "executing: $*";
  $*;
}

alias unit="prefix_only $NPM_RUN_TEST"

# add Python to PATH
export PATH=$PATH:~/Library/Python/2.7/bin
export PATH=$PATH:~/Library/Python/3.7/bin

# add Android and Java related variables
export JAVA_HOME=/Applications/Android\ Studio.app/Contents/jre/jdk/Contents/Home
export ANDROID_HOME=$HOME/Library/Android/sdk
export PATH=$PATH:$JAVA_HOME/bin
export PATH=$PATH:$ANDROID_HOME/platform-tools
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/cmdline-tools/latest/bin

# ADB aliases from https://gist.github.com/Pulimet/5013acf2cd5b28e55036c82c91bd56d8
alias apkinstall='adb devices | tail -n +2 | cut -sf 1 | xargs -I X adb -s X install -r $1'
alias startintent='adb devices | tail -n +2 | cut -sf 1 | xargs -I X adb -s X shell am start $1'
alias rmapp='adb devices | tail -n +2 | cut -sf 1 | xargs -I X adb -s X uninstall $1'
alias clearapp='adb devices | tail -n +2 | cut -sf 1 | xargs -I X adb -s X shell pm clear $1'

function adball() {
  for DEVICE in `adb devices | tail  -n +2 | cut -f1`
  do
    echo "adb -s $DEVICE $@"
    adb -s $DEVICE $@
  done
}

function adbxargs() {
  echo "executing for each device: adb $@";
  adb devices | tail -n +2 | cut -sf 1 | xargs -I X adb -s X $@;
}

alias adbimg='cd && adb exec-out screencap -p > $(date +"%Y-%m-%d_%H-%M-%S").png'
# alias adbtext='adb shell input text $1'
function adbtext() {
  adb shell input text $(echo "$*" | sed 's/ /\%s/g')
}
alias adbkey='adb shell input keyevent $1'

function yvrig() {
  rig_no=$(echo $1 | cut -d "-" -f 1)
  stb_no=$(echo $1 | cut -d "-" -f 2)
  curl -SsLf "https://testaut-hub.dev.youview.co.uk/redirect/testaut-$rig_no-stb-$stb_no/api/v1/network/box" | jq -r .ip
}

function adbrig() {
  adb connect $(yvrig $1)
}
