###########
# Variables
###########

TIME_COMMANDS=true # set to 'false' to disable prefxing commands with time

GIT_LOG_ONE_LINE="git log --oneline"
GIT_LOG_ONE_LINE_SHORT="$GIT_LOG_ONE_LINE -30"

# syncs branches with remote
GIT_FETCH_ALL_AND_PRUNE="git fetch --all -p"

NPM_RUN_TEST="npm run jest -- --watch --runInBand"

alias ls='ls -GFh' # -h Human readable, -G colour output, -F symbols for file types
alias du:s="du -sh */ | sort -h" # get file sizes, aggregated to top-level folders, sorted in desc order

alias log="prefix $GIT_LOG_ONE_LINE_SHORT"
alias loga="prefix $GIT_LOG_ONE_LINE"
alias f="echo 'Syncing git repo with remote...' && prefix $GIT_FETCH_ALL_AND_PRUNE"
alias fetch="echo 'Syncing git repo with remote...' && prefix $GIT_FETCH_ALL_AND_PRUNE"

###########
# Functions
###########
 
# announce full commands and prefix them with time,
# to indicate how long they take to run
function prefix() {
  echo "executing: $*";
  if [ "$TIME_COMMANDS" != true  ] ; then
      $*;
  else
      time $*;
  fi
}

# announce the full command, including arguments
function prefix_only() {
  echo "executing: $*";
  $*;
}

alias unit="prefix_only $NPM_RUN_TEST"
